<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/desafio2.css" />
    <title>Parte 2</title>
  </head>
  <body>
    <h1>Puedes llevar hasta 10 sticker en total</h1>
    <div class="container">
      <div class="column">
        <img src="../img/el-castillo-ambulante.jpg" alt="" />
        <input type="number" id="sticker1" />
      </div>
      <div class="column">
        <img src="../img/princesse_mononoke.jpg" alt="" />
        <input type="number" id="sticker2" />
      </div>
      <div class="column">
        <img src="../img/viaje-chihiro.jpg" alt="" />
        <input type="number" id="sticker3" />
      </div>
    </div>
    <div id="message"></div>
    <button id="button">Verificar</button>

    <script src="../js/desafio2.js"></script>
  </body>
</html>
