<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/desafio1.css" />
    <title>Parte 1</title>
  </head>
  <body>
    <h1>AGREGA TU BORDE</h1>
    <img
      src="../img/ranma.jpg"
      alt="animacion japonesa de donde parecen un hombre y una mujer vestidos iguales"
      id="main-image"
    />
    <script src="../js/desafio1.js"></script>
  </body>
</html>
